{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>login Page</title>
</head>

<body>
    <h1 align="center">Login Page</h1>
    <form method="POST">
        {% csrf_token %}
        <table border="1" align="center" class="table">
            <tr class="table-primary">
                <th>Username</th>
                <td class="table-primary"><input type="text" class="form-control" name="uname" id=""></td>
            </tr>

            <tr class="table-secondary">
                <th>Password</th>
                <td class="table-secondary"><input type="password" class="form-control" name="upass" id=""></td>
            </tr>

            <tr class="table-success">
                <td colspan="2" align="center"><input class="btn btn-success" type="submit" value="submit"></td>
            </tr>
        </table>
    </form>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>

</html>
